/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-pedigree {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.pedigree-block-container {
	position: relative;
	min-height: 640px;
}