.button.icon {
  min-width: 30px;
  min-height: 30px;
  line-height: initial;
  border-radius: 50%;
  padding: 0;
}

.ped-form {
  margin-right: 20px;
  margin-bottom: 20px;
}

.ped-form__flex {
  display: flex;
}

.ped-form fieldset {
  border-right: 1px solid #00000022;
  padding-right: 20px;
  margin-right: 20px;
}

.ped-form fieldset.last {
  border: none;
}

.ped-form__data {
  width: 177px;
  text-overflow: ellipsis;
}

.ped-form__button {
  min-width: 100px;
}