.button.icon {
  min-width: 30px;
  min-height: 30px;
  line-height: initial;
  border-radius: 50%;
  padding: 0;
}

.wp-list-table.toplevel_page_famtree .column-root {
  width: 3em;
}

.wp-list-table.toplevel_page_famtree .column-edit,
.wp-list-table.toplevel_page_famtree .column-remove {
  width: 3em;
}

.wp-list-table.toplevel_page_famtree .column-nocontent {
  text-align: center;
}

.wp-list-table.toplevel_page_famtree .column-deathday,
.wp-list-table.toplevel_page_famtree .column-birthday {
  width: 8em;
}

.wp-list-table.toplevel_page_famtree .column-portraitImageId {
  width: 3em;
}

.famtree-form {
  margin-right: 0;
  margin-bottom: 20px;
}

.famtree-hidden {
  display: none;
}
.famtree-form__flex {
  display: flex;
}

.famtree-form fieldset {
  border-right: 1px solid #00000022;
  padding-right: 20px;
  margin-right: 20px;
}

.famtree-form fieldset.last {
  border: none;
}

.famtree-form__data {
  width: 177px;
  text-overflow: ellipsis;
}

.famtree-form__button {
  min-width: 100px;
}

.famtree-metadata-container {
  flex-grow: 1;
}

.famtree-metadata-container__list {
  max-height: 300px;
  overflow: auto;
}

.famtree-metadata-container__list img {
  height: 40px;
}

.famtree-metadata-container__list span.famtree-dashicons-thumb.dashicons {
  font-size: 40px;
  height: 40px;
}